<h1>Tiny App</h1>


<%if (!username){ %>
<form method="POST" action="/login">
  <input type = "text "name="username" placeholder="Type in username">
  <button type="submit">login</button>
</form>

<%}else{ %>
Logged in as: <%=username%>
<form method="POST" action="/logout">
  <button type="submit">logout</button>
    <% } %>
</form>





