<!DOCTYPE html>
<html lang="en">
<header>
   <h1>Tiny App</h1>
   <h2>User Registration</h2>
</header>
  <body style = "text-align: center">
    <form method="post">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit">submit</button>
    </form>
  </body>
</html>